.footer {
    height: auto;
    background-color: #2D2D2D;
}

.footet-inner {
    padding: 10px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footet-logo .logo img{
    width: 150px;
}

.footer-info {
    width: 100%;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}

.info-contact {
    display: flex;
    flex-direction: column;
}

.info-contact span {
    color: white;
    font-size: 16px;
    margin-top: 5px;
}

.info-network, .info-bank {
    display: flex;
    width: 270px;
    justify-content: space-between;
    align-items: center;
}

.network-ikon img {
    filter: invert(80%);
}

.bank-ikon img {
    width: 65px;
}

.recoveryBlockOk, .recoveryBlockNo {
    position: fixed;
    padding: 15px;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    font-size: 18px;
    z-index: 99999;
    color: white;
}

.recoveryBlockOk {
    background-color: #00ff7f;
}

.recoveryBlockNo {
    background-color: #e34234;
    /* color: white; */
}

.ikon-ok, .ikon-no {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    filter: invert(100%);
}

.ikon-ok {
    background: url(../photo/ikon/ok-block.png) no-repeat;
}

.ikon-no {
    background: url(../photo/ikon/close-block.png) no-repeat;
}

.flex-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}