body {
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
}

button, a {
    cursor: pointer;
}

.wrapper {
    width: 1270px;
    margin: 0 40px;
}

.block-img {
    position: relative;
}

.propducts-items {
    display: flex;
    flex-wrap: wrap;
}

.product-block {
    display: flex;
}

.product-image img{
    width: 400px;
    height: auto;
    background-size: cover;
}

.hiden {
    display: none;
}

.margin-cart {
    margin-top: auto;
    padding-bottom: 30px;
}

.size-text {
    color: #333;
    font-size: 28px;
}

.propducts-items {
    display: flex;
    flex-wrap: wrap;
}

.item-product {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 23px;
}

.item-product:nth-child(4n) {
    margin-right: 0;
}

.product-photo {
    width: 300px;
}