body {
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
}

button, a {
    cursor: pointer;
}

.wrapper {
    width: 1270px;
    margin: 0 40px;
}

.block-img {
    position: relative;
}

.propducts-items {
    display: flex;
    flex-wrap: wrap;
}

.product-block {
    display: flex;
}

.product-image img{
    width: 400px;
    height: auto;
    background-size: cover;
}

.hiden {
    display: none;
}

.margin-cart {
    margin-top: auto;
    padding-bottom: 30px;
}

.size-text {
    color: #333;
    font-size: 28px;
}

.propducts-items {
    display: flex;
    flex-wrap: wrap;
}

.item-product {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 23px;
}

.item-product:nth-child(4n) {
    margin-right: 0;
}

.product-photo {
    width: 300px;
}

.recoveryBlockOk, .recoveryBlockNo {
    position: fixed;
    padding: 15px;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    font-size: 18px;
    z-index: 99999;
    color: white;
}

.recoveryBlockOk {
    background-color: #00ff7f;
}

.recoveryBlockNo {
    background-color: #e34234;
    /* color: white; */
}

.ikon-ok, .ikon-no {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    filter: invert(100%);
}

.ikon-ok {
    background: url(../photo/ikon/ok-block.png) no-repeat;
}

.ikon-no {
    background: url(../photo/ikon/close-block.png) no-repeat;
}

.flex-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}